<div id="carouselExample" class="carousel carousel-dark slide bg-light py-3 px-3">
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
<div class="carousel-inner">
    <div class="col-10 mx-auto">
        <div class="carousel-item active">
            <div class="row" style="min-height:300px;">
                <div class="col order-xl-2">
                    <div class="d-flex h-100 justify-content-center">
                        <div class="row justify-content-center align-self-center py-3">
                        <img class="rounded-circle img-fluid" src="/images/johanna-sievers.jpeg"/>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="d-flex h-100">
                        <div class="row justify-content-center align-self-center text-center text-xl-start">
                            <p>"Der Newsletter ist eine tolle Mischung aus relevanten Neuigkeiten und tieferen Analysen rund um Technik, Digitalisierung und Innovation. Die Themen sind super aktuell, die Texte immer gut geschrieben und die Ideen einfach anregend – ich freue mich jede Woche darauf!"</p>
                            <p>Johanna Sievers, Projektleiterin</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="carousel-item">
            <div class="row" style="min-height:300px;">
                <div class="col order-xl-2">
                    <div class="d-flex h-100 justify-content-center">
                    <div class="row justify-content-center align-self-center py-3">
                        <img class="rounded-circle img-fluid" src="https://media.licdn.com/dms/image/C4E03AQFMbFCy_t7_GQ/profile-displayphoto-shrink_800_800/0/1516177327915?e=1704931200&v=beta&t=QtCywEnKwQiIgnKOBOxJi0nbU0D23yykbY9b0Jz6j7I"/>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="d-flex h-100">
                        <div class="row justify-content-center align-self-center text-center text-xl-start">
                            <p>„Ich mag, wie Marcel die Dinge beschreibt und mit persönlicher Erfahrung untermauert. Sein Newsletter liefert eine gute Mischung aus neuen Anwendungen und Reflektion.“</p>
                            <p>Joachim Hofmmann, Director Business Development</p>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            <div class="carousel-item">
            <div class="row" style="min-height:300px;">
                <div class="col order-xl-2">
                    <div class="d-flex h-100 justify-content-center">
                    <div class="row justify-content-center align-self-center py-3">
                        <img class="rounded-circle img-fluid" src="/images/annette-landgraf.jpeg"/>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="d-flex h-100">
                        <div class="row justify-content-center align-self-center text-center text-xl-start">
                            <p>„Der Newsletter liefert mir viele interessante Informationen, an die ich sonst nicht komme. Besonders gefallen mir die große Bandbreite und Marcels kritische Distanz“</p>
                            <p>Annette Landgraf, Architektin und Projektleiterin</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

