{{- $scratch := newScratch -}}
{{- $scratch.Set "image" "" -}}
{{- $imageRegex := "\\/Bilder\\/(.+\\.[a-zA-Z]+)" -}}
{{- $images := .Content | findRE $imageRegex -}}
{{- range first 1 $images -}}
	{{- $scratch.Set "image" . -}}
{{- end -}}

{{- range .Params.images -}}
    {{- $scratch.Set "image" . -}}
{{- end -}}

{{- range .Site.Params.content_filters -}}
	{{- $image := replace ($scratch.Get "image") .search .replace  -}}
	{{- $scratch.Set "image" $image -}}
{{- end -}}

{{- $image := $scratch.Get "image" -}}
{{- $image -}}
