{{ if .file }}

    <div class="d-flex flex-row align-items-end">
        <audio controls preload="true" class="">
            <source src="{{ .file }}" type="audio/mpeg">
        </audio>
        {{ if .spotify }}
            <a href="{{ .spotify }}" role="button" class="btn btn-square-md mx-2 my-auto">
                <i class="bi-spotify"></i>
            </a>
        {{ end }}
        {{ if .itunes }}
        <a href="{{ .itunes }}" role="button" class="btn me-3 ms-2 my-auto">
            <i class="bi-apple"></i>
            Itunes
        </a>
    {{ end }}
    </div>

{{ end }}