<div class="row">
    <div class="col-12 col-lg-7 align-self-center">
        <h2 class="section-title display-5 mb-4 mb-lg-5">{{ i18n "newsletterTitle" }}</h2>
            <p class="lead lh-sm">{{ i18n "newsletterLead1" }}</p>
            <p class="lead lh-sm">{{ i18n "newsletterLead2" }}
              </p>
              <div class="pt-3">
                {{ partial "newsletter/form/form.html" (dict "size" "big" "style" "box" "utm_medium" "direct" ) }}
              </div>
    </div>
    <div class="d-none d-lg-block col">
        <img style="max-width:100%;" src="/images/newsletter-illustration.svg"/>
    </div>
</div>
